# Core libraries for data and web app
streamlit
pandas
numpy

# Machine Learning and Deep Learning Libraries
tensorflow
scikit-learn
joblib

# Optional but recommended for file handling
h5py

# Optional
nltk
